---
title: Projects
layout: page
---

<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>

<hr style="height:3px;border:none;border-top:3px ridge black;" />
<ul>
	<li><a href="https://github.com/Gilone/Matrix-Operation-in-Cpp">Matrix operation library - practice of template, overload and friend features in C++</a></li>
	<li><a href="https://github.com/Gilone/Simple-linear-predictor-and-classifier-and-one-hot-encoding">Example of linear predictor and classifier with one hot encoding</a></li>
	<li><a href="https://github.com/Gilone/Aspect-Level-Sentiment-Analysis-via-Multi-Layer-Capsule-Networks-with-Aspect-Reinforcement">Aspect Level Sentiment Analysis via Multi Layer Capsule Networks</a></li>
	<li><a href="https://github.com/Gilone/fenghao.github.com">My Home Page</a></li>
	<li><a href="https://github.com/Gilone/Spectral_Clustering_for_Pictures">Spectral Clustering for Pictures with GUI</a></li>
	<li><a href="https://github.com/Gilone/Process_Management">Process Management</a></li>
	<li><a href="https://github.com/Gilone/Pipeline_CPU">Pipeline CPU using Verilog HDL</a></li>
	<li><a href="https://github.com/Gilone/Tower_Defence_Game">Tower Defence Game</a></li>
	<li><a href="https://github.com/Gilone/Evade_Game">Evade Game</a></li>	
	<li><a href="https://github.com/Gilone/Using-Genetic-Algorithm-to-solve-Job-Shop-Scheduling-Problem">Using Genetic Algorithm to Solve Job-Shop Scheduling Problem</a></li>	
	<li><a href="https://github.com/Gilone/Syntactic_analyzer">Syntactic Analyzer</a></li>	
	<li><a href="https://github.com/Gilone/Lexical_analyzer">Lexical Analyzer</a></li>	
	<li><a href="https://github.com/Gilone/Maze_Game">Maze Game</a></li>

</ul>